[submodule "submodules/p-tree"]
	path = ev2/vendor/p-tree
	url = git@github.com:hborlik/p-tree.git
[submodule "submodules/libleb"]
	path = ev2/vendor/libleb
	url = git@github.com:jdupuy/libleb.git
[submodule "submodules/libcbt"]
	path = ev2/vendor/libcbt
	url = git@github.com:jdupuy/libcbt.git
[submodule "submodules/spdlog"]
	path = ev2/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
